<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdou.mapper.EmployeeRecordMapper">
    <select id="getMaxRecordNum" resultType="java.lang.String">
        SELECT e.record_number
        FROM employee_record e
        WHERE e.record_number LIKE CONCAT(#{formattedCode}, '%')
    </select>
    <select id="selectByRecordNumber" resultType="com.gdou.pojo.entity.EmployeeRecord">
        SELECT e.*
        FROM employee_record e
        WHERE e.record_number = #{recordNumber}
    </select>

    <select id="queryIdByKeyWord" resultType="java.lang.Integer">
        SELECT user_id
        FROM user
        WHERE username LIKE CONCAT('%', #{keyWord}, '%')
           OR name LIKE CONCAT('%', #{keyWord}, '%');
    </select>


</mapper>
