<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdou.mapper.OrganizationMapper">


    <select id="getOrgByCode" resultType="java.lang.Integer">
        SELECT o3.id
        FROM organization o1,
             organization o2,
             organization o3
        WHERE o2.parent_id = o1.id
          AND o3.parent_id = o2.id
          AND o1.code = #{code1}
          AND o2.code = #{code2}
          AND o3.code = #{code3}
    </select>
    <select id="getOrgById" resultType="com.gdou.pojo.vo.org.OrgByIdVo">
        SELECT o3.code AS firstOrgCode,
               o3.name AS firstOrgName,
               o2.code AS secondOrgCode,
               o2.name AS secondOrgName,
               o1.code AS thirdOrgCode,
               o1.name AS thirdOrgName,
               o1.id   AS orgId
        FROM organization o1
                 JOIN organization o2 ON o1.parent_id = o2.id
                 JOIN organization o3 ON o2.parent_id = o3.id
        WHERE o1.id = #{orgId}
    </select>
</mapper>
